Repository AztecProtocol/docs-2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ci: split jobs
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .gitignore
Due: prettier --write

fix the flipping build
  docs/pages/aztec-nr/advanced-features/custom-notes.md
  docs/pages/aztec-nr/compile.md
  docs/pages/aztec-nr/debugging.md
  docs/pages/aztec-nr/getting-started.md
  docs/pages/aztec-nr/installation.md
  docs/pages/aztec-nr/introduction-to-private-smart-contracts/index.md
  docs/pages/aztec-nr/language-description/authentication-witness.md
  docs/pages/aztec-nr/language-description/calling-other-contracts.md
  docs/pages/aztec-nr/language-description/contract-structure.md
  docs/pages/aztec-nr/language-description/cross-chain-interactions.md
  docs/pages/aztec-nr/language-description/events-and-logs.md
  docs/pages/aztec-nr/language-description/index.md
  docs/pages/aztec-nr/language-description/macros.md
  docs/pages/aztec-nr/testing.md
  docs/pages/index.mdx
  docs/pages/protocol-architecture/addresses-and-keys.md
  docs/pages/protocol-architecture/call-types.md
  docs/pages/protocol-architecture/circuits.md
  docs/pages/protocol-architecture/fees.md
  docs/pages/protocol-architecture/note-discovery.md
  docs/pages/protocol-architecture/nullifier-merkle-tree.md
  docs/pages/protocol-architecture/storage-slots.md
  docs/pages/protocol-architecture/transactions.md
  docs/pages/protocol-architecture/wallets.md
  docs/pages/run-a-node/guides/index.md
  docs/pages/run-a-node/reference/index.md
  vocs.config.ts
Due: eslint --fix, prettier --write

fix yarn.lcok
  yarn.lock
Due: none

temporarily remove mermaid diagram from storage-slots.md
  docs/pages/protocol-architecture/storage-slots.md
Due: prettier --write

don't collapse protocol archetecture
  vocs.config.ts
Due: eslint --fix, prettier --write

reshuffle sidebar
  vocs.config.ts
Due: eslint --fix, prettier --write

add aztec.js sidebar and tutorials
  vocs.config.ts
Due: eslint --fix, prettier --write

remove flase tutorial
  vocs.config.ts
Due: eslint --fix, prettier --write

new sidebar
  docs/pages/foundational-topics/addresses-and-keys.md
  docs/pages/foundational-topics/call-types.md
  docs/pages/foundational-topics/circuits.md
  docs/pages/foundational-topics/fees.md
  docs/pages/foundational-topics/index.md
  docs/pages/foundational-topics/note-discovery.md
  docs/pages/foundational-topics/nullifier-merkle-tree.md
  docs/pages/foundational-topics/pxe-and-acir-simulator.md
  docs/pages/foundational-topics/storage-slots.md
  docs/pages/foundational-topics/transactions.md
  docs/pages/foundational-topics/wallets.md
  vocs.config.ts
Due: eslint --fix, prettier --write

make sure build builds hehe
  docs/pages/getting-started.mdx
Due: prettier --write

fix build
  docs/pages/aztec-nr/framework-description/ethereum-aztec-messaging.md
  docs/pages/index.md
Due: prettier --write

initial sketches for intro sections
  docs/pages/aztec-nr/introduction-to-private-smart-contracts/index.md
  docs/pages/aztec-nr/introduction-to-private-smart-contracts/private-token-contract.md
  docs/pages/aztec-nr/overview.md
Due: prettier --write

update examples
  docs/pages/aztec-nr/introduction-to-private-smart-contracts/account-contract.md
  docs/pages/aztec-nr/introduction-to-private-smart-contracts/private-token-contract.md
Due: prettier --write

add missing backticks
  docs/pages/aztec-nr/introduction-to-private-smart-contracts/private-token-contract.md
  docs/pages/aztec-nr/overview.md
Due: prettier --write

initial sketches for intro sections (#6)
  docs/pages/aztec-nr/introduction-to-private-smart-contracts/account-contract.md
  docs/pages/aztec-nr/introduction-to-private-smart-contracts/index.md
  docs/pages/aztec-nr/introduction-to-private-smart-contracts/private-token-contract.md
  docs/pages/aztec-nr/overview.md
Due: prettier --write

docs about contract structure
  docs/pages/aztec-nr/framework-description/contract-scope.md
  docs/pages/aztec-nr/framework-description/contract-structure.md
  docs/pages/aztec-nr/framework-description/index.md
Due: prettier --write

Update contract-structure.md
  docs/pages/aztec-nr/framework-description/contract-structure.md
Due: prettier --write

draft: state vars
  docs/pages/aztec-nr/framework-description/state-variables.md
Due: prettier --write

fix the build
  docs/pages/aztec-nr/framework-description/contract-structure.md
Due: prettier --write

remove the index.md for framework-description
  docs/pages/aztec-nr/framework-description/index.md
Due: prettier --write

docs about contract structure (#7)
  docs/pages/aztec-nr/framework-description/contract-scope.md
  docs/pages/aztec-nr/framework-description/contract-structure.md
  docs/pages/aztec-nr/framework-description/index.md
Due: prettier --write

update
  docs/pages/aztec-nr/framework-description/state-variables.md
Due: prettier --write

cleanup contract-strcuture.md
  docs/pages/aztec-nr/framework-description/contract-structure.md
Due: prettier --write

small changes
  docs/pages/aztec-nr/framework-description/contract-structure.md
Due: prettier --write

cleanup aztecnr overview
  docs/pages/aztec-nr/overview.md
Due: prettier --write

chore: reword Nicos docs (#9)
  docs/pages/aztec-nr/framework-description/contract-structure.md
  docs/pages/aztec-nr/overview.md
Due: prettier --write

Add private stuff
  docs/pages/aztec-nr/framework-description/state-variables.md
Due: prettier --write

fix build
  docs/pages/aztec-nr/framework-description/state-variables.md
Due: prettier --write

initial sketch: state vars (#8)
  docs/pages/aztec-nr/framework-description/state-variables.md
Due: prettier --write

update state-vars 1
  docs/pages/aztec-nr/framework-description/state-variables.md
Due: prettier --write

add more info to priavet set
  docs/pages/aztec-nr/framework-description/state-variables.md
Due: prettier --write

modify nullifier section
  docs/pages/aztec-nr/framework-description/state-variables.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs}) or (any of: *.{json,md,mdx,yml,yaml})) or (any of: *.{css,scss,sass})
